import React, { PropTypes } from 'react';

const <%= helpers.capitalize(name) %> = (props, context) => (
  <div>
  	<h1>Test arrow function</h1>
  </div>
);

<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;